.navlink{
    margin-left: 15rem;
    padding: 1rem;
}
.navlink li{
    display: flex;
    color: white;
    margin-left: 1rem;
}
.links:hover{
    opacity:.8;
}
.navlink ul::before{
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: #f20808;
    cursor: pointer;
}
.links::before{
      width: 0%;
      bottom: 10px;
      color: #f20808;
}
.links:hover::before{
    width:4rem;
    
}