.banner{
    background-image:url('https://wallpaperaccess.com/full/2703652.png');
    width: 100%;
    height: 100vh;
    background-size:cover;
    float: left;
    margin-top:60px;
    
}
.movie-title{
    color: #fff;
}
.movie-description{
    color: #fff;
}